<ion-pane>

    <ion-content>

        <ion-list>

            <div class="bar bar-header">
                <div class="h1 title">Login In</div>
            </div>

            <div class="content has-header">

                <form>
                    <div class="list">

                        <label class="item item-input">
                            <input type="text" ng-model="user.username" placeholder="Username"/>
                        </label>

                        <label class="item item-input">
                            <input type="password" ng-model="user.password" placeholder="Password"/>
                        </label>

                    </div>
                    <div class="padding">

                        <button class="button button-block button-positive activated" ng-click="logIn(user)">Log in
                        </button>
                        <a class="button button-block button-positive activated" ui-sref="signUpAuth">Sign up</a>

                    </div>
                </form>
            </div>


        </ion-list>

    </ion-content>
</ion-pane>