<ion-pane>

    <ion-content>

        <ion-list>

            <div class="bar bar-header">
                <div class="h1 title">Logout</div>
            </div>

            <div class="content has-header">

                <form>
                    <div class="padding">


                        <button class="button button-block button-positive activated" ng-click="logOut(user)">Log out
                        </button>


                    </div>
                </form>
            </div>


        </ion-list>

    </ion-content>
</ion-pane>